
<!-- news gallery-->

   <!-- Photo section -->
  <section class="photo-section">
    <div class="container">
      <div class="row section-title">
        <div class="col-md-12">
          <h3>
            <a href="#">Gallery <span class=""><i class="fas fa-angle-right"></i></span< /a>
          </h3>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-12">

          <div class="row mb-2">
            <div class="col-md-12 col-sm-6">
              <div class="card text-white">
                <img class="card-img" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                <div class="card-img-overlay">
                  <h5 class="card-title" style="position: absolute; bottom: 0;">
                    This is news heading....This is news....
                  </h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-6">
              <div class="card text-white">
                <img class="card-img" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                <div class="card-img-overlay">
                  <h5 class="card-title" style="position: absolute; bottom: 0;">
                    This is news heading....This is news....
                  </h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>

          </div>

        </div>


        <div class="col-md-6">
          <!-- owl-carousel -->
          <div class="">

            <div class="card text-white">
              <img class="card-img" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" style="max-height: 340px;" alt="">
              <div class="card-img-overlay">
                <h5 class="card-title" style="position: absolute; bottom: 0;">
                  This is news heading....This is news....
                </h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <!-- owl-carousel ends -->
        </div>


        <div class="col-md-3 col-sm-12">

          <div class="row mb-2">

            <div class="col-md-12 col-sm-6">
              <div class="card text-white">
                <img class="card-img" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                <div class="card-img-overlay">
                  <h5 class="card-title" style="position: absolute; bottom: 0;">
                    This is news heading....This is news....
                  </h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-6">
              <div class="card text-white">
                <img class="card-img" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                <div class="card-img-overlay">
                  <h5 class="card-title" style="position: absolute; bottom: 0;">
                    This is news heading....This is news....
                  </h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- photo section ends -->
  <br><br>

<!---->



        <!-- col-3 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong>adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-3 -->


        <!-- col-3 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong> adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-3 -->

        <!-- col-4 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong>adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-4 -->


        <!-- col-1 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong>adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-1 -->



        <!-- col-3 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong>adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-3 -->


        <!-- col-3 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong>adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-3 -->

        <!-- col-4 -->
        <div class="col-md-4 col-lg-3 mb-3 main-cover-news">
          <div class="card text-white">
            <img class="card-img" src="{% static 'front-end/images/pexels-ibadah-mimpi-3283186.jpg' %}" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title" style="position: absolute; bottom: 0;">
                <strong> adipiscing elit. Aenean varius nulla nec sapien ultrices</strong>
              </h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <!-- ends col-4 -->


<!--last three news-->
<div class="col-md-4 mb-1 cat4-news-list">
          <div class="row">
            <div class="col-md-12">
              <h3>
                <a href="#">Category Model</a>
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- starts card -->
              <div class="card">
                <ul class="list-group list-group-flush">
                  <!-- <li class=""><a href="#"> -->
                  <!-- starts -->
                  <div class="card">
                    <a href="#">
                      <img class="card-img-top" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                    </a>
                    <h5 class="card-title"><a href="#">
                        <strong>Ipsum passages, and more recently</strong>
                      </a></h5>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </div>
                  <!-- ends -->
                  <!-- </a></li> -->
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>

                </ul>
              </div>
              <!-- card ends -->
            </div>
          </div>
          <br>
          <button type="button" class="see-more-btn"><a href="#">See More <i
                class="fas fa-angle-double-right"></i></a></button>

        </div>

        <div class="col-md-4 mb-1 cat4-news-list">
          <div class="row">
            <div class="col-md-12">
              <h3>
                <a href="#">Category Model</a>
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- starts card -->
              <div class="card">
                <ul class="list-group list-group-flush">
                  <!-- <li class=""><a href="#"> -->
                  <!-- starts -->
                  <div class="card">
                    <a href="#">
                      <img class="card-img-top" src="{% static 'front-end/images/pexels-roberto-nickson-2559941.jpg' %}" alt="">
                    </a>
                    <h5 class="card-title"><a href="#">
                        <strong>Ipsum passages, and more recently</strong>
                      </a></h5>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </div>
                  <!-- ends -->
                  <!-- </a></li> -->
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>
                  <li class=""><a href="#">
                      <i class="fas fa-caret-right cat4-news-list-icons"></i>
                      <span><strong>Ipsum passages, and more recently with desktop</strong></span>
                    </a>
                    <p><i class="far fa-clock"></i> 1 hour ago</p>
                  </li>

                </ul>
              </div>
              <!-- card ends -->
            </div>
          </div>
          <br>
          <button type="button" class="see-more-btn"><a href="#">See More <i
                class="fas fa-angle-double-right"></i></a></button>

        </div>


<!--  -->

  <!-- news category section  -->
  <section class="news-category-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">

            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="Card image cap">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">

            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="Card image cap">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- news category section ends -->

  <!-- news category section  -->
  <section class="news-category-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">

            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="Card image cap">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">

            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{% static 'front-end/images/pexels-andy-vu-3244513.jpg' %}" alt="Card image cap">
              </a>
              <h5 class="card-title"><a href="#"><strong>Lorem ipsum dolor sit.. </strong></a></h5>
              <p><i class="far fa-clock"></i> 1 hour ago</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- news category section ends -->

<!--nbote-->
<!-- componenets -->
          <div class="media">
            <a href="#"><img class="mr-1" src="{{news.news_img.url}}" alt=""></a>
            <h5 class=""><a href="#">{{news.news_title|safe|truncatechars:35}}</a></h5>
          </div>
          <!-- componenets ends -->