{% extends 'front-end/index.html' %}

{% load static %}

{% block site_title %}
  <title>Search Result</title>
{% endblock %}

{% block main-content %}
<br>
  <!-- breadcumbs -->
<!--  <section class="breadcumbs">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <nav aria-label="breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item">Below news are found according to your query...</li>-->
<!--            </ol>-->
<!--          </nav>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <!-- breadcumbs ends -->

  <!-- news category section  -->
  <section class="news-category-section">
    <div class="container">
      <div class="row">
        {% if news %}
        {% for news in news %}
        <div class="col-md-4 col-lg-4">
          <div class="news-cat1">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="{{news.news_img.url}}" alt="">
              </a>
              <h5 class="card-title" style="font-size: 18px;"><a href="#"><strong>{{news.news_title}} </strong></a></h5>
              <p><i class="far fa-clock"></i> {{news.published_at}}</p>
            </div>

          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center" style="">No results found!</h1>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- news category section ends -->

  <br><br><br>
  <br><br><br>

{% endblock %}