{% extends 'back-end/admin_panel/index.html' %}
{% load static %}

{% block main-block %}


<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->

        <!--            django message framework-->
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                {% if messages %}
                {% for message in messages %}

                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                    <strong>{{ message }}!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endfor %}
                {% endif %}
            </div>
            <div class="col-xl-3"></div>
        </div>

        <!--            django message framework ends-->

        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">Add News Editor Name</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{%url 'apAddNewsEditor' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Add News Editor</label>
                                            <input type="text" name="news-editor-name" class="form-control" id="inputCity"
                                                   placeholder="Add news editor name" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">News Editor List</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-success mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center">#</th>
                                            <th scope="col" class="text-center">Name</th>
                                            <th scope="col" class="text-center">Added At</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if news_editor_list %}
                                        {% for editor_name in news_editor_list %}
                                        <tr>
                                            <th scope="row" class="text-center">{{forloop.counter}}</th>
                                            <td class="text-center">{{editor_name.name}}</td>
                                            <td class="text-center">{{editor_name.added_at}}</td>
                                            <td class="text-center">

                                                <!--                                        delete modal-->
                                                <button type="button" data-toggle="modal"
                                                        data-target="#deleteModal{{editor_name.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:   #FF0000; color: white;">
                                                    Delete
                                                </button>
                                                 <!-- Modal -->
                                                <div class="modal fade" id="deleteModal{{editor_name.pk}}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="deleteModal{{news_cat.pk}}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p class="modal-title" id="exampleModalLabel">Are you
                                                                    sure want
                                                                    to delete this <strong>"{{editor_name.name}}"</strong>
                                                                    category
                                                                    name?</p>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">No
                                                                </button>
                                                                <a href="{% url 'apDelNewsEditor' pk=editor_name.pk %}">
                                                                    <button type="button" class="btn btn-primary">Yes
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--


<!--                                                ends delete model -->

<!--                                                edit news editor model-->

                                                <button type="button" data-toggle="modal"
                                                        data-target="#edit_catName{{editor_name.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:  #3399FF; color: white;">
                                                    Edit
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="edit_catName{{editor_name.pk}}" tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modal
                                                                    title</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'apEditNewsEditor' pk=editor_name.pk %}"
                                                                      method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="cat_name">Edit Category Name</label>
                                                                        <input type="text" name="edit_news_cat_name"
                                                                               value="{{editor_name.name}}"
                                                                               class="form-control">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Save
                                                                        changes
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
<!-- edit news editor model ends -->

                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <h3 class="text-center">Editor name not added yet!</h3>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">Add News Publisher Name</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'apAddNewsPublisher' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Add News Publisher name</label>
                                            <input type="text" name="publisher_name" class="form-control" id="inputCity"
                                                   placeholder="Add news publisher name" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">News Editor List</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-success mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center">#</th>
                                            <th scope="col" class="text-center">Name</th>
                                            <th scope="col" class="text-center">Added At</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if news_publisher_list %}
                                        {% for news_publisher in news_publisher_list %}
                                        <tr>
                                            <th scope="row" class="text-center">{{forloop.counter}}</th>
                                            <td class="text-center">{{news_publisher.name}}</td>
                                            <td class="text-center">{{news_publisher.added_at}}</td>
                                            <td class="text-center">

                                                <!--                                        delete modal-->
                                                <button type="button" data-toggle="modal"
                                                        data-target="#deleteModal{{news_publisher.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:   #FF0000; color: white;">
                                                    Delete
                                                </button>

                                                 <!-- Modal -->
                                                <div class="modal fade" id="deleteModal{{news_publisher.pk}}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="deleteModal{{news_publisher.pk}}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p class="modal-title" id="exampleModalLabel">Are you
                                                                    sure want
                                                                    to delete this <strong>"{{news_publisher.name}}"</strong>
                                                                    category
                                                                    name?</p>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">No
                                                                </button>
                                                                <a href="{% url 'apDelNewsPusblisher' pk=news_publisher.pk %}">
                                                                    <button type="button" class="btn btn-primary">Yes
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--                                        delete modal ends-->


                                                <button type="button" data-toggle="modal"
                                                        data-target="#edit_pubName{{news_publisher.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:  #3399FF; color: white;">
                                                    Edit
                                                </button>

                                                  <!--                                        edit modal-->

                                                <!-- Modal -->
                                                <div class="modal fade" id="edit_pubName{{news_publisher.pk}}" tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modal
                                                                    title</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'apEditNewsPublisher' pk=news_publisher.pk %}"
                                                                      method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="cat_name">Edit Category Name</label>
                                                                        <input type="text" name="edit_news_publisher_name"
                                                                               value="{{news_publisher.name}}"
                                                                               class="form-control">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Save
                                                                        changes
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--                                        edit modal-->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <h3 class="text-center">Editor name not added yet!</h3>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>


<!-- end app-main -->
{% endblock %}